@import url('https://fonts.googleapis.com/css?family=Roboto+condensed');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #dcdcdc;
}

.user-profile {
    background-color: #dcdcdc;
    width: 25.5rem;
    max-width: 30rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.profile-top {
    background-color: rgb(27, 27, 97);
    padding: .5rem 2rem;
    text-align: center;
    color: white;
    border-radius: 0px;
}

.profile-top img {
    border-radius: 5%;
    border: 0px solid white;
    height: 22em;
    width: 19rem;
    object-fit: cover;
    margin-top: 0px;
}

.profile-top .profile-info {
    margin-top: 0rem;
    color: rgb(235, 223, 223);
}

.profile-bottom {
    margin-top: .5rem;
    padding: .5rem;
    margin-left: 1rem;
}

.profile-info p2 {
    padding: 0 0px;
    color: white;
}

.p1 {
    background-color: black;
    width: 9.5rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
}

.p2 {
    background-color: red;
    width: 9.5rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
}

.social {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 75%;
    margin-left: 2.5rem;
    padding: 0 0rem;
}

.social a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1.7em;
    height: 1.7em;
    background-color: red;
    border-radius: 50%;
    font-size: 2em;
    color: #dcdcdc;
    box-shadow: rgb(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 03)0px 8px 16px -8px;
}

.social a:nth-child(1) {
    background-color: rgb(28, 88, 158);
}

.social a:nth-child(2) {
    background: color #fc01cd;
    ;
}

.social a:nth-child(3) {
    background-color: #313131;
}

.social a:nth-child(4) {
    background-color: rgb(28, 88, 158);
}

.profile-info h1 {
    font-weight: 100px;
    font-size: 20px;
}

.profile-bottom .profile-info {
    background-color: white;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .0rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
    box-shadow: rgb(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 03)0px 8px 16px -8px;
    transition: 0.5s ease;
    border: 1px rgb(214, 211, 211) solid;
}

.profile-bottom .profile-info:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}